Name: Navnath Lahane 

Roll No: 25

step 1 :
Create an "Academic performance " Dataset

In [2]:
import pandas as pd
import numpy as np

# Creating a sample dataset
data = {
    "Student_ID": range(1, 11),
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Helen", "Ian", "Jack"],
    "Math_Score": [85, 90, np.nan, 78, 92, 88, 76, 95, 100, 45],  # One missing value, one extreme outlier (45)
    "Science_Score": [80, 85, 88, 92, np.nan, 85, 78, 90, 95, 47],  # One missing value, one outlier (47)
    "Attendance (%)": [95, 98, 87, 92, 90, 85, 88, 97, np.nan, 50],  # One missing value, one low outlier (50)
    "Participation_Score": [8, 9, 7, 10, 6, np.nan, 5, 9, 10, 3]  # One missing value, one outlier (3)
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df)

Original Dataset:
    Student_ID     Name  Math_Score  Science_Score  Attendance (%)  \
0           1    Alice        85.0           80.0            95.0
1           2      Bob        90.0           85.0            98.0
2           3  Charlie         NaN           88.0            87.0
3           4    David        78.0           92.0            92.0
4           5      Eve        92.0            NaN            90.0
5           6    Frank        88.0           85.0            85.0
6           7    Grace        76.0           78.0            88.0
7           8    Helen        95.0           90.0            97.0
8           9      Ian       100.0           95.0             NaN
9          10     Jack        45.0           47.0            50.0

   Participation_Score
0                  8.0
1                  9.0
2                  7.0
3                 10.0
4                  6.0
5                  NaN
6                  5.0
7                  9.0
8                 10.0
9                  3.0

step 2 :
Handle Missing Values

In [3]:
# Filling missing values with median
df.fillna(df.median(numeric_only=True), inplace=True)

print("\nDataset after handling missing values:\n", df)

Dataset after handling missing values:
    Student_ID     Name  Math_Score  Science_Score  Attendance (%)  \
0           1    Alice        85.0           80.0            95.0
1           2      Bob        90.0           85.0            98.0
2           3  Charlie        88.0           88.0            87.0
3           4    David        78.0           92.0            92.0
4           5      Eve        92.0           85.0            90.0
5           6    Frank        88.0           85.0            85.0
6           7    Grace        76.0           78.0            88.0
7           8    Helen        95.0           90.0            97.0
8           9      Ian       100.0           95.0            90.0
9          10     Jack        45.0           47.0            50.0

   Participation_Score
0                  8.0
1                  9.0
2                  7.0
3                 10.0
4                  6.0
5                  8.0
6                  5.0
7                  9.0
8                 10.0
9                  3.0

step : 3 
 Handle Outliers

In [4]:
def cap_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df[column] = np.where(df[column] < lower_bound, lower_bound, df[column])
    df[column] = np.where(df[column] > upper_bound, upper_bound, df[column])

# Apply outlier capping
for col in ["Math_Score", "Science_Score", "Attendance (%)", "Participation_Score"]:
    cap_outliers(df, col)

print("\nDataset after handling outliers:\n", df)

Dataset after handling outliers:
    Student_ID     Name  Math_Score  Science_Score  Attendance (%)  \
0           1    Alice      85.000         80.000           95.00
1           2      Bob      90.000         85.000           98.00
2           3  Charlie      88.000         88.000           87.00
3           4    David      78.000         92.000           92.00
4           5      Eve      92.000         85.000           90.00
5           6    Frank      88.000         85.000           85.00
6           7    Grace      76.000         78.000           88.00
7           8    Helen      95.000         90.000           97.00
8           9      Ian     100.000         95.000           90.00
9          10     Jack      62.125         68.875           76.75

   Participation_Score
0                  8.0
1                  9.0
2                  7.0
3                 10.0
4                  6.0
5                  8.0
6                  5.0
7                  9.0
8                 10.0
9                  3.0

step : 4 
Apply a ogarithmic transformation

In [5]:
df["Participation_Score_Log"] = np.log1p(df["Participation_Score"])  # log(1+x) to avoid log(0)

print("\nDataset after transformation:\n", df)

Dataset after transformation:
    Student_ID     Name  Math_Score  Science_Score  Attendance (%)  \
0           1    Alice      85.000         80.000           95.00
1           2      Bob      90.000         85.000           98.00
2           3  Charlie      88.000         88.000           87.00
3           4    David      78.000         92.000           92.00
4           5      Eve      92.000         85.000           90.00
5           6    Frank      88.000         85.000           85.00
6           7    Grace      76.000         78.000           88.00
7           8    Helen      95.000         90.000           97.00
8           9      Ian     100.000         95.000           90.00
9          10     Jack      62.125         68.875           76.75

   Participation_Score  Participation_Score_Log
0                  8.0                 2.197225
1                  9.0                 2.302585
2                  7.0                 2.079442
3                 10.0                 2.397895
4                  6.0                 1.945910
5                  8.0                 2.197225
6                  5.0                 1.791759
7                  9.0                 2.302585
8                 10.0                 2.397895
9                  3.0                 1.386294